.countdown-container {
  justify-self: center;
  align-self: center;
  display: grid;
  place-content: center;

  position: relative;

  animation: fade-in 1s ease;
}

.countdown-container circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.countdown-container .countdown {
  inline-size: 75%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: minmax(2ch, auto) auto 2ch auto 2ch;
  justify-content: center;

  font-size: 2rem;
  font-weight: 500;
}

.countdown-container .countdown.pause {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
