.numkey {
  --spacing-multiplier: 3;
  --multiplied-gap: calc(var(--keypad-col-gap) * var(--spacing-multiplier));
  --offset-timer-size: calc(var(--timer-inline-size) - var(--multiplied-gap));
  --key-size: calc(var(--offset-timer-size) / 3);

  inline-size: var(--key-size);
  block-size: var(--key-size);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  font-size: 2.5rem;

  appearance: none;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;

  transition: background-color 0.5s ease;
}

.numkey:focus,
.numkey:hover {
  border: 1px solid var(--surface-2);
}

.numkey:active {
  transition: none;
  background: var(--surface-2);
}
