.timer {
  --timer-inline-size: 25rem;
  --timer-block-size: 48rem;

  block-size: var(--timer-block-size); 
  inline-size: var(--timer-inline-size);

  display: grid;
  gap: 1rem;
  align-content: space-between;
  padding: 2rem;
  background: var(--surface-1);
  box-shadow: 0 2.8px 2.2px hsl(0 0% 0% / 2%), 0 6.7px 5.3px hsl(0 0% 0% / 2.8%),
    0 12.5px 10px hsl(0 0% 0% / 3.5%), 0 22.3px 17.9px hsl(0 0% 0% / 4.2%),
    0 41.8px 33.4px hsl(0 0% 0% / 5%), 0 100px 80px hsl(0 0% 0% / 7%);
  border: 1px solid var(--surface-2);
  border-radius: 5px;
}

.timer > hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--surface-2);
  margin: 0;
}

.timer > footer {
  min-block-size: 4rem;

  align-self: end;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: start;
}

header > h1 {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.icon {
  inline-size: 3rem;
  block-size: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  border-radius: 50%;
}

.icon:focus,
.icon:hover {
  outline-offset: 5px;
  background: var(--surface-2);
}

.icon > svg {
  fill: var(--text-2);
  height: 50%;
}

time.output {
  font-size: 3.5rem;
  font-weight: 400;
  font-variant-numeric: tabular-nums;
  color: var(--brand-1);

  display: flex;
  gap: 1ch;
  justify-content: space-around;
  align-items: center;
}

time.output > span {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  inline-size: 2.5ch;
}

time.output > span > small {
  font-size: 45%;
}

.keypad {
  --keypad-row-gap: 2rem;
  --keypad-col-gap: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--keypad-row-gap) var(--keypad-col-gap);

  font-variant-numeric: tabular-nums;
}

button:focus,
button:hover {
  outline-offset: 5px;
  outline-color: var(--brand-1);
}

.fab {
  inline-size: 4rem;
  block-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--brand-1);
  border-radius: 50%;
  box-shadow: 0 10px 5px hsl(var(--hue) 5% 10%);
  border: none;
  cursor: pointer;
  position: relative;
}

.fab:focus,
.fab:hover {
  outline-offset: 5px;
  background: var(--brand-1-focus);
}

.fab > svg {
  height: 50%;
  fill: var(--surface-1);
}

.fab:active {
  top: 1px;
  box-shadow: 0 6px 5px hsl(var(--hue) 5% 10%);
}

.fab.delete {
  background: var(--delete-bg);
}

.fab.delete > svg {
  fill: var(--delete-color);
}

.fab.delete:focus,
.fab.delete:hover {
  outline-color: var(--delete-bg-focus);
  background: var(--delete-bg-focus);
}

.fab.reset {
  grid-column-end: -1;
  justify-self: end;
  background: var(--reset-bg);
}

.fab.reset > svg {
  fill: var(--reset-color);
}

.fab.reset:focus,
.fab.reset:hover {
  outline-color: var(--reset-bg-focus);
  background: var(--reset-bg-focus);
}

.gcs-2 {
  grid-column-start: 2;
}
