:root {
  --hue: 220;

  --surface-1: hsl(var(--hue) 6% 12%);
  --surface-2: hsl(var(--hue) 5% 30%);
  --text-1: hsl(var(--hue) 10% 90%);
  --text-2: hsl(var(--hue) 10% 80%);
  --brand-1: hsl(var(--hue) 50% 67%);
  --brand-1-focus: hsl(var(--hue) 50% 77%);

  --delete-color: hsl(350 10% 15%);
  --delete-bg: hsl(350 50% 67%);
  --delete-bg-focus: hsl(350 50% 77%);

  --reset-color: hsl(125 10% 15%);
  --reset-bg: hsl(125 50% 67%);
  --reset-bg-focus: hsl(125 50% 77%);
}

html {
  block-size: 100%;
  inline-size: 100%;
  background: var(--surface-2);
  color: var(--text-1);
}

body {
  margin: 0;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;

  display: grid;
  place-items: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
